@import "../../../../style-parts/vars";
@import "../../../../style-parts/mixin";

.Popover-scope {

	$popoverBg : #fff;
	$popoverBorder : #ccc;

	display  : inline-block;
	position : relative;

	.Popovercontent-scope {
		position : absolute;
		display  : inline-block;
		z-index  : 3;

		.popover-pointer {
			width            : 10px;
			height           : 10px;
			position         : absolute;
			z-index          : 1;
			background-color : $popoverBg;
		}

		> div {
			padding          : 5px;
			border           : 1px solid $popoverBorder;
			background-color : $popoverBg;
			border-radius    : 1px;
			box-shadow       : 2px 2px 5px #eee;
			min-width        : 150px;
		}

		&.position-top {
			bottom : 100%;
			left   : 50%;

			.popover-pointer {
				left          : 50%;
				margin-left   : -5px;
				bottom        : -5px;
				transform     : rotate(45deg);
				border-right  : 1px solid $popoverBorder;
				border-bottom : 1px solid $popoverBorder;
			}

		}

		&.position-bottom {
			top  : 100%;
			left : 50%;

			.popover-pointer {
				left        : 50%;
				margin-left : -5px;
				top         : -5px;
				transform   : rotate(45deg);
				border-left : 1px solid $popoverBorder;
				border-top  : 1px solid $popoverBorder;
			}

		}

		&.position-right {
			left : 100%;
			top  : 50%;

			.popover-pointer {
				top           : 50%;
				margin-top    : -5px;
				left          : -5px;
				transform     : rotate(45deg);
				border-left   : 1px solid $popoverBorder;
				border-bottom : 1px solid $popoverBorder;
			}

		}

		&.position-left {
			right : 100%;
			top   : 50%;

			.popover-pointer {
				top          : 50%;
				margin-top   : -5px;
				right        : -5px;
				transform    : rotate(45deg);
				border-right : 1px solid $popoverBorder;
				border-top   : 1px solid $popoverBorder;
			}

		}

	}

}