<am-popover>
	<am-popover-trigger>
		<md-button>Left</md-button>
	</am-popover-trigger>

	<am-popover-content position="left">
		Lorem <strong>ipsum dolor</strong> sit amet.
	</am-popover-content>
</am-popover>

<am-popover>
	<am-popover-trigger>
		<md-button>Top</md-button>
	</am-popover-trigger>

	<am-popover-content position="top">
		Lorem ipsum dolor sit amet.
	</am-popover-content>
</am-popover>

<am-popover>
	<am-popover-trigger>
		<md-button>Bottom</md-button>
	</am-popover-trigger>

	<am-popover-content position="bottom">
		Lorem ipsum dolor sit amet.
	</am-popover-content>
</am-popover>

<am-popover>
	<am-popover-trigger>
		<md-button>Right</md-button>
	</am-popover-trigger>

	<am-popover-content position="right">
		Lorem ipsum dolor sit amet.
	</am-popover-content>
</am-popover>