.am-comments-wrapper {
	.mdl-textfield {
		width : 100%;
	}
}

.comment-respond {
	width : 100%;
}

.mdl-textfield {
	width : 100%;
	label {
		margin-bottom : 0;
		font-weight   : 300;
	}
}

.mdl-textfield__input {
	padding : 10px 0;

}


/**
 * ==================== Network ======================
 * 19.12.2016
 */
#dashboardnav {
	a {
		&:focus{
			text-decoration : none;
		}
		&.router-link-active {
			background-color: $mainColor;
			color : #fff;
			i {
				color : #fff;
			}
		}
	}

}

#network-content {

}

/**
 * ==================== Transitions ======================
 */
.transition-default {
	transition : all .3s;
}

/**
 * ==================== WooMinicart ======================
 */
.fademinicart-enter-active, .fademinicart-leave-active {
	transform : translateY(0px);
	opacity   : 1;
}

.fademinicart-enter, .fademinicart-leave-active {
	transform : translateY(30px);
	opacity   : 0;
}

/**
 * ==================== Panel ======================
 */
[class*="panelslide"] {
	transition : all 0.5s;
}

.panelslide-enter-active, .panelslide-leave-active {
	transform : translateX(0px);
	opacity   : 1;
}

.panelslide-enter, .panelslide-leave-active {
	transform : translateX(40px);
	opacity   : 0;
}
