/**
 * ==================== Contact Form 7 ======================
 */
.wpcf7-form {
	padding      : 0;
	margin-left  : -8px;
	margin-right : -8px;
	.cf-7-formholder {
		padding      : 0;
		margin-left  : -8px;
		margin-right : -8px;
	}
	// Notices
	.wpcf7-not-valid-tip {
		color    : $dangerColor;
		position : absolute;
	}
	.wpcf7-form-control-wrap {
		display : block;
		width   : 100%;
	}
	.wpcf7-response-output {
		border        : none;
		padding       : 20px;
		line-height   : 20px;
		margin        : 15px 0;
		border-radius : 1px;
		&.wpcf7-validation-errors {
			background-color : $warningColor;
			color            : #000;
		}
		&.wpcf7-mail-sent-ng {
			background-color : $dangerColor;
			color            : #fff;
		}
		&.wpcf7-mail-sent-ok {
			background-color : $successColor;
			color            : #fff;
		}
	}

	.mdl-textfield {
		width : 100%;
	}
	// Inputs
	textarea,
	input[type="tel"],
	input[type="text"],
	input[type="email"],
	input[type="password"] {

	}
	select {

	}
}

/**
 * ==================== WooCommerce ======================
 */
li.vuecart-class {
	position : relative;
	z-index: 1;
}

.mdl-layout__drawer {
	.minicart-template-holder .mdl-list {
		min-width : 200px;
		margin-left : -125px;
	}
}

.minicart-template-holder {
	position : relative;

	button {
		overflow : visible;
	}

	p {
		margin-bottom : 4px;
		font          : normal 14px/17px $baseFont;
		color         : $textColor;
	}

	.mdl-list {
		position         : absolute;
		top              : 48px;
		left             : 50%;
		margin-left      : -120px;
		min-width        : 240px;
		background-color : #fff;
	}

	.mdl-list__item {
		font-size : 12px;
		padding   : 5px;
	}

	.mdl-button--mini-fab {
		height    : 25px;
		min-width : 25px;
		width     : 25px;

		i {
			font-size  : 16px;
			margin-top : 1px;
		}
	}

	.product-title {
		text-transform : none;
	}

	figure {
		max-width : 50px;
		margin    : 5px;
		img {
			max-width : 100%;
		}
	}
}