/*
 * Responsive Rules
 */


.visible-on-desktop {
	/*Tablet*/
	@media (max-width : 951px) {
		display : none;
	}
}

.hidden-on-desktop {
	/*To tablet and desktop*/
	@media (min-width : 952px) {
		display: none;
	}
}

.visible-on-tablet-only {
	/*Desktop*/
	@media (min-width : 952px) {
		display : none;
	}
	/*Mobile*/
	@media (max-width : 767px) {
		display : none;
	}
}

.visible-on-phones-only {
	/*To tablet and desktop*/
	@media (min-width : 768px) {
		display : none;
	}
}

.hidden-on-phones {
	/*Mobile*/
	@media (max-width : 767px) {
		display : none;
	}
}