@import "../../../../style-parts/vars";

.Flash--scope {
	position : absolute;
	right    : 0;

	.flash-wrapper {
		position : relative;
		padding  : 10px 15px;

		.md-button {
			width       : 25px;
			height      : 25px;
			min-width   : 25px;
			min-height  : 25px;
			display     : block;
			padding     : 0;
			text-align  : center;
			font-size   : 19px;
			line-height : 25px;
			margin      : 0;

			i {
				font-size   : 19px;
				line-height : 25px;
				margin      : 0;
				color       : #fff;
			}
		}

	}

	.flash-icon-container {
		position : absolute;
		top      : 7px;
		right    : 8px;
		z-index  : 1;
	}

	.am-flash-notice {
		margin-bottom             : 10px;
		border-top-left-radius    : 3px;
		border-bottom-left-radius : 3px;

		&.dissmisable {

			.flash-wrapper {
				padding-right : 38px;
			}

		}

		&.info {
			background-color : $infoColor;
			color            : darken($infoColor, 25%);
		}

		&.success {
			background-color : $successColor;
			color            : darken($successColor, 25%);
		}

		&.warning {
			background-color : $warningColor;
			color            : darken($warningColor, 25%);
		}

		&.danger {
			background-color : lighten($dangerColor, 20%);
			color            : darken($dangerColor, 20%);
		}
	}

}