@import "../../../../style-parts/vars";

.dropdown-scope {
	border :1px solid #e2e2e2;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.dropdown-heading {
		padding       : 5px 10px;
		border-bottom : 1px solid #e2e2e2;
		cursor        : pointer;
	}

	.dropdown-content {
		display  : block;
		overflow : hidden;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		> div {
			padding : 15px;
		}

	}

}